
<div class="center">
  <div class="container-fluid">  
    <header id="overview" class="font50px">
      <h1>Mark your steps on the web.</h1>
      <h2>The web is full of sites and places where we always visit and enjoy</h2>
    </header>
    <div class="search-app">
      <form class="clearfix" id="search_form" method="post" action="/marks">
        <input type="text" id="search_text" placeholder="What do want to mark today?" name="search_text" maxlength="150" size="40">
          <button class="btn btn-am btn-large" type="submit" id="search_button" name="search" action="/marks">
          <i class="icon-large icon-search"></i> Find
        </button>
      </form>
    </div>
  </div>
</div>  
