<div class="page-contact" id="contact">
		<div class="container">
			<div class="row">
				<div class="span8 content">
					<h2>Roots and Petals - The Blog</h2>
					<p>Nullam volutpat lacinia nisi, nec laoreet dolor lobortis ut. Suspendisse quis nunc a arcu laoreet iaculis. Morbi vehicula metus ut massa tristique non aliquet nibh tempus. Maecenas feugiat lectus quam, a ornare ligula. Phasellus vitae aliquam quam. Integer semper sagittis sagittis.</p>					
				</div>
				<div class="span3 content">
					<h2>The Blog</h2>
					<p>Nullam volutpat lacinia nisi, nec laoreet dolor lobortis ut. <br/>
						Suspendisse quis nunc a arcu laoreet iaculis. Morbi vehicula metus ut massa tristique non aliquet nibh tempus.
						<br/> Maecenas feugiat lectus quam, a ornare ligula. Phasellus vitae aliquam quam. <br/>
						Integer semper sagittis sagittis.
					</p>
						<h2>Category</h2>
						<ul>
							<li>Business</li>
							<li>Design</li>
							<li>Develoment</li>
							<li>Sport</li>
							<li>Reading</li>
						</ul> 

					<h2>Events</h2>
                        <span class="label">23/12/2012</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>


                        <span class="label label-warning">23/02/2012</span>
                        <p>Lorem ipsum dolor sit amet dolore.</p>

                        <span class="label label-important">13/02/2012</span> 
                        <p>Lorem ipsum dolor sit amet dolore.</p>
                        <br>   
				</div>
			</div>
		</div>		
	</div>
</div>
	