<div class="page-contact" id="contact">
		<div class="container">	
			<div class="row">
				<div class="span6 content">
					<h2>Contact Us</h2>
					<p>Nullam volutpat lacinia nisi, nec laoreet dolor lobortis ut. Suspendisse quis nunc a arcu laoreet iaculis. Morbi vehicula metus ut massa tristique non aliquet nibh tempus. Maecenas feugiat lectus quam, a ornare ligula. Phasellus vitae aliquam quam. Integer semper sagittis sagittis.</p>
					
					<form class="form-horizontal contact-form">
			        <fieldset>
			          <div class="control-group">
			            <label class="control-label" for="input01">Name</label>
			            <div class="controls">
			              <input type="text" class="input-xlarge" id="input01" placeholder="Name">
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="input02">Email Address</label>
			            <div class="controls">
			              <input type="text" class="input-xlarge" id="input02" placeholder="Email">
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="select01">Where did you hear about us?</label>
			            <div class="controls">
			              <select id="select01">
			                <option>Select...</option>
			                <option>Friend</option>
			                <option>Pintrst</option>
			                <option>Searching</option>
			                <option>Others</option>
			              </select>
			            </div>
			          </div>
			          <div class="control-group">
			            <label class="control-label" for="textarea">Your Message</label>
			            <div class="controls">
			              <textarea class="input-xlarge" id="textarea" rows="8"  placeholder="Message"></textarea>
			            </div>
			          </div>
			          <div class="form-actions">
			            <button type="submit" class="btn btn-primary">Send message</button>
			            <button class="btn">Cancel</button>
			          </div>
			        </fieldset>
			      </form>
				</div>

				<div class="span6 content">					
					<div id="map_canvas">
						<iframe width="100%" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;sll=37.0625,-95.677068&amp;sspn=48.15347,93.076172&amp;ie=UTF8&amp;t=m&amp;ll=43.651975,-79.381714&amp;spn=1.907779,3.515625&amp;z=8&amp;iwloc=A&amp;output=embed">							
						</iframe>
					</div>

					<h3>Contact Information</h3>
					<p>If you have a question don't hesitate to get in touch:</p>

					<address>

<!-- 						<p>Address line 1<br />Address line 2<br />City<br />ZIP/Post Code</p>
 -->					<p>
							<strong>Tel:</strong> 0123 456 789<br />
							<strong>Email:</strong> <a href="">info@website.com</a>
                        	<strong>Phone: </strong>+12 [3] 8767868<br>
                            <strong>Fax: </strong>+12 [3] 78668888
                        </p>
                        </address>
				</div>


			
			</div>			
		</div>	
	</div>
	